.places {
  max-width: 984px;
  width: 100%;
  display: flex;
  row-gap: 80px;
  flex-direction: column;
  margin: 92px auto 0;
  margin-top: 92px;
}

@media screen and (max-width:1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width:1023px) {
  .places {
    max-width: 720px;
    margin: 88px auto 0;
    row-gap: 73px;
  }
}

@media screen and (max-width:767px) {
  .places {
    max-width: 288px;
    margin: 64px auto 0;
    row-gap: 50px;
  }
}