.intro__text {
  max-width: 690px;
  min-height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin-top: 40px;
  margin-bottom: 0;
}

@media screen and (max-width:767px) {
  .intro__text {
    min-height: 520px;
  }
}
